<!-- Header section -->
<ion-header>
  <ion-toolbar color="primary">
    <!-- Back button to navigate to the previous page -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- Title of the page -->
    <ion-title slot="end">
      Announcements
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content section -->
<ion-content>

  <!-- Row for selecting the category -->
  <ion-row class="select-container">
    <!-- Dropdown for filtering announcements by category -->
    <ion-select placeholder="Filter by Category"
      [(ngModel)]="selectedCategory" (ionChange)="filterByCategory()">
      <ion-select-option value>All Categories</ion-select-option>
      <ion-select-option value="Cars">Cars</ion-select-option>
      <ion-select-option value="Houses">Houses</ion-select-option>
      <ion-select-option value="Phones">Phones</ion-select-option>
      <ion-select-option value="Cables">Cables</ion-select-option>
    </ion-select>
  </ion-row>

  <!-- List to display announcements -->
  <ion-list>
    <!-- Loop through announcements and display each in a card -->
    <ion-item *ngFor="let announcement of tmpAnnouncements">
      <ion-card (click)="sendId(announcement.id)">
        <!-- Row for each announcement -->
        <ion-row>
          <!-- Column for displaying the image of the announcement -->
          <ion-col size="4" class="image-column">
            <img [src]="announcement.imageUrl" alt="Announcement Image">
          </ion-col>
          <!-- Column for displaying title, price, and category -->
          <ion-col size="8">
            <ion-label>
              <!-- Announcement details -->
              <h2><strong>{{ announcement.title }}</strong></h2>
              <p><strong>Price:</strong> {{ announcement.price }} DT</p>
              <p><strong>Category:</strong> {{ announcement.category }}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Footer section with dark mode switcher and My Ads button -->
<ion-footer color="primary">
  <div class="flex-container">
    <!-- Button to navigate to My Ads page -->
    <ion-button expand="half" shape="round" [routerLink]="['/my-announcements']">
      <ion-icon slot="start" name="megaphone"></ion-icon>
      My Ads
    </ion-button>

    <!-- Button to toggle dark mode -->
    <ion-button expand="half" fill="solid" shape="round"
      (click)="toggleDarkMode()">
      <ion-icon slot="start" [name]="darkModeIcon"></ion-icon>
      {{ darkModeLabel }}
    </ion-button>
  </div>
</ion-footer>
