#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* home.page.scss */


ion-button[expand="half"] {
  max-width: 50%;
  width: 100%;
}

/* src/app/home/home.page.scss */

.statistics-card {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px; /* Add padding for spacing */

  ion-card-content {
    ion-card-title {
      font-size: 24px; /* Increase font size for the title */
    }

    ion-card-subtitle {
      font-size: 32px; /* Increase font size for the subtitle (number) */
      font-weight: bold; /* Optionally, make the number bold */
      margin-top: 8px; /* Add margin for spacing */
    }
  }
}



.dark-mode-button {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-light);
  --border-radius: 15px;
  --box-shadow: none;
  --padding-start: 16px;
  --padding-end: 16px;

  ion-icon {
    --color: var(--ion-color-light);
  }

  &:active,
  &:focus,
  &:hover {
    --background: var(--ion-color-dark-shade);
  }
}

.megaphone{
  font-size: 35px;
}