<ion-header>
    <ion-toolbar color="primary">
        <!-- Centered title for the header -->
        <ion-title class="ion-text-center">Discover Announcements</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-center">
    <!-- Card for total announcements -->
    <ion-card class="statistics-card" (click)="goToAnnouncements()">
        <ion-card-content>
            <!-- Megaphone icon on the left side of the card -->
            <ion-icon color="primary" class="megaphone" slot="start" expand="fill" name="megaphone"></ion-icon>
            <!-- Card title and subtitle for total announcements -->
            <ion-card-title>Announcements</ion-card-title>
            <ion-card-subtitle>{{ totalAnnouncements }}</ion-card-subtitle>
        </ion-card-content>
    </ion-card>

    <!-- Card for user's announcements -->
    <ion-card class="statistics-card" (click)="goToMyAnnouncements()">
        <ion-card-content>
            <!-- Megaphone icon on the left side of the card -->
            <ion-icon color="primary" class="megaphone" slot="start" expand="fill" name="megaphone"></ion-icon>
            <!-- Card title and subtitle for user's announcements -->
            <ion-card-title>My Announcements</ion-card-title>
            <ion-card-subtitle>{{ myAnnouncements }}</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</ion-content>

<!-- Footer section with buttons -->
<ion-footer color="primary">
    <!-- Flex container for login and register buttons -->
    <div class="flex-container">
        <!-- Button to navigate to the login page -->
        <ion-button shape="round" expand="half" (click)="goToLoginPage()">
            <ion-icon slot="start" name="log-in"></ion-icon>
            Login
        </ion-button>

        <!-- Button to navigate to the register page -->
        <ion-button shape="round" expand="half" (click)="goToRegisterPage()">
            <ion-icon slot="start" name="person-add"></ion-icon>
            Register
        </ion-button>
    </div>

    <!-- Flex container for logout and dark mode buttons -->
    <div class="flex-container">
        <!-- Button to log out -->
        <ion-button shape="round" expand="half" (click)="logOut()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            Logout
        </ion-button>

        <!-- Button to toggle dark mode -->
        <ion-button expand="half" fill="solid" shape="round" (click)="toggleDarkMode()">
            <ion-icon slot="start" [name]="darkModeIcon"></ion-icon>
            {{ darkModeLabel }}
        </ion-button>
    </div>
</ion-footer>
